__pycache__
.venv
.code
datasets
*.aux
*.fls
*.fdb_latexmk
*.synctex.gz
*.log
*.out
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.bak
*.backup
*.tmp
*.temp
*.swp
*.swo
*~
.DS_Store
Thumbs.db
#maybe the rest can be source controlled after all
*.pdf
*.png
